### Project 4: Evaluating Accuracy of Recommender Systems

In [2]:
import pandas as pd
import numpy as np
import matplotlib 
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
from scipy import linalg
from sklearn.model_selection import train_test_split
from numpy import nan
from sklearn.metrics import mean_squared_error as sk_rmse

In [4]:
import math as m
from sklearn.metrics.pairwise import cosine_similarity

In [5]:
from surprise import SVD as f_SVD
from surprise import Dataset as Dt
from surprise import Reader
from surprise import SVD
from surprise.model_selection import cross_validate
from surprise import NormalPredictor
from surprise.model_selection import train_test_split as t_t_sp

In [19]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

### 1. The Dataset

In [7]:
path="C:/Users/talha/Documents/Training/CUNY Classes/Data612/Week1/ml-latest-small/"

In [8]:
ratings=pd.read_csv(path+'ratings.csv')

In [9]:
movie_names=pd.read_csv(path+'movies.csv')

#### 1.1 Extracting Movie Genres

In [42]:
movie_names.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [81]:
genres=movie_names['genres'].str.split('|',expand=True)

In [82]:
genres['ind']=movie_names.movieId

In [83]:
genres.head()

,0,1,2,3,4,5,6,7,8,9,ind
0,Adventure,Animation,Children,Comedy,Fantasy,None,None,None,None,None,1
1,Adventure,Children,Fantasy,None,None,None,None,None,None,None,2
2,Comedy,Romance,None,None,None,None,None,None,None,None,3
3,Comedy,Drama,Romance,None,None,None,None,None,None,None,4
4,Comedy,None,None,None,None,None,None,None,None,None,5

In [84]:
genres_m=genres.melt(id_vars='ind')

In [85]:
genres_m=genres_m[['ind','value']][~genres_m['value'].isnull()]

In [86]:
genres_m.head()

   ind      value
0    1  Adventure
1    2  Adventure
2    3     Comedy
3    4     Comedy
4    5     Comedy

In [87]:
genres_m[genres_m['ind']==1]

       ind      value
0        1  Adventure
9742     1  Animation
19484    1   Children
29226    1     Comedy
38968    1    Fantasy

In [88]:
lc=LabelEncoder()

In [89]:
ia=lc.fit_transform(genres_m['value'])

In [90]:
ia

array([ 2,  2,  5, ..., 14, 17, 19])

In [91]:
enc=OneHotEncoder(sparse=False)

In [92]:
ia = ia.reshape(len(ia), 1)
e_inc = enc.fit_transform(ia)

In [93]:
e_inc

array([[0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [94]:
categ_list=[]
for v in genres_m['value']:
    if v not in categ_list:
        categ_list.append(v)

In [95]:
e_inc=pd.DataFrame(e_inc, index=genres_m.index,columns=categ_list)

In [96]:
e_inc.head()

,Adventure,Comedy,Action,Drama,Crime,Children,Mystery,Animation,Documentary,Thriller,Horror,Fantasy,Western,Film-Noir,Romance,Sci-Fi,Musical,War,(no genres listed),IMAX
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [97]:
genres_m.head()

   ind      value
0    1  Adventure
1    2  Adventure
2    3     Comedy
3    4     Comedy
4    5     Comedy

In [98]:
genres_m=genres_m.merge(e_inc,left_index=True,right_index=True)

In [99]:
genres_m.head()

,ind,value,Adventure,Comedy,Action,Drama,Crime,Children,Mystery,Animation,...,Horror,Fantasy,Western,Film-Noir,Romance,Sci-Fi,Musical,War,(no genres listed),IMAX
0,1,Adventure,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Adventure,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Comedy,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Comedy,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Comedy,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [100]:
genres_m.sort_values(['ind'],ascending=True).head(n=10)

,ind,value,Adventure,Comedy,Action,Drama,Crime,Children,Mystery,Animation,...,Horror,Fantasy,Western,Film-Noir,Romance,Sci-Fi,Musical,War,(no genres listed),IMAX
0,1,Adventure,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19484,1,Children,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29226,1,Comedy,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
38968,1,Fantasy,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9742,1,Animation,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Adventure,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19485,2,Fantasy,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9743,2,Children,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9744,3,Romance,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,3,Comedy,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [101]:
genres_m.drop(['value'],axis=1,inplace=True)

In [102]:
genres_m=genres_m.groupby(['ind']).sum()

As result of the analysis above we have now converted all the genres classification as one-hot coded attributes for items which can be used as input to the similarity calculations.

In [104]:
genres_m.tail()

,Adventure,Comedy,Action,Drama,Crime,Children,Mystery,Animation,Documentary,Thriller,Horror,Fantasy,Western,Film-Noir,Romance,Sci-Fi,Musical,War,(no genres listed),IMAX
ind,,,,,,,,,,,,,,,,,,,,
193581,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193583,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193585,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193587,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193609,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### 1.2 Movie Ratings

In [105]:
#load dataset for the Surprise package
rat_t_surp=Dt.load_from_df(ratings[['userId', 'movieId', 'rating']], Reader(rating_scale=(1, 5)))

In [106]:
ratings_train,ratings_test=t_t_sp(rat_t_surp,test_size=0.3,random_state=324)

In [107]:
ratings.shape

(100836, 4)

In [109]:
trainset=rat_t_surp.build_full_trainset()

In [110]:
exist_test=trainset.build_anti_testset()

#### 1.3 Estimating the Ratings

In [111]:
# We'll use the famous SVD algorithm.
algo = SVD(n_factors=5,n_epochs=10,verbose=True,biased=True,lr_all=0.005,reg_all=0.02)

In [112]:
algo.fit(ratings_train)

Processing epoch 0
Processing epoch 1
Processing epoch 2
Processing epoch 3
Processing epoch 4
Processing epoch 5
Processing epoch 6
Processing epoch 7
Processing epoch 8
Processing epoch 9

In [113]:
#item based factors from SVD decomposition
algo.qi[0:3,]

array([[ 0.02685211,  0.06257886,  0.00113071,  0.08194054, -0.18210802],
       [ 0.17210148,  0.04135925,  0.17860486,  0.05536171,  0.12452713],
       [-0.07628916,  0.0206983 ,  0.12216703,  0.16604998, -0.06149495]])

In [458]:
#number of item factors
len(algo.qi)

8525

In [114]:
#user based factors from the SVD decomposition
algo.pu[0:3]

array([[-0.17199137, -0.09130149, -0.0257121 , -0.18538711,  0.07981888],
       [-0.07956545,  0.09559583, -0.05313257,  0.05296191,  0.07967689],
       [ 0.07246599,  0.07947109, -0.0140016 ,  0.03578512,  0.07142033]])

In [117]:
#calculation of the predictor from SVD
np.dot(algo.qi[0:4,],algo.pu[0:4].T)

array([[-0.04008732, -0.00638437, -0.00317072, -0.01506215],
       [-0.03829217, -0.0063753 ,  0.02413251, -0.06834052],
       [-0.02760186,  0.0054522 , -0.00404386, -0.01210042],
       [-0.01900841, -0.01145552, -0.01088932, -0.0323225 ]])

In [118]:
#item based biases - organized by inner id (see note on inner ids below)
algo.bi[0:4]

array([ 0.55255647,  0.12502098,  0.27048733, -0.03329931])

In [119]:
#user bias - organized by inner id
algo.bu[0:4]

array([ 0.19525248,  0.29798518, -0.11047053, -0.31504062])

In [120]:
ratings_train.global_mean

3.504236027484593

#### 1.4 Predicting the Ratings

In [121]:
#predict ratings for the test set
predictions=algo.test(ratings_test)

In [122]:
predictions=pd.DataFrame(predictions)

In [123]:
predictions.head()

   uid    iid  r_ui       est                    details
0  606  40583   3.5  3.632181  {'was_impossible': False}
1  387   4034   3.0  3.647220  {'was_impossible': False}
2  571   3708   2.0  2.590285  {'was_impossible': False}
3   68   2405   3.5  2.856154  {'was_impossible': False}
4  390   8327   5.0  3.586192  {'was_impossible': False}

In [125]:
exist_test[0:4]

[(1, 318, 3.501556983616962),
 (1, 1704, 3.501556983616962),
 (1, 6874, 3.501556983616962),
 (1, 8798, 3.501556983616962)]

In [126]:
#the missing ratings in the training set
missing=ratings_train.build_anti_testset()

In [127]:
#predict the missing ratings and return a dataframe
missing_pred=algo.test(missing)
missing_pred=pd.DataFrame(missing_pred)

In [128]:
#the head of the missing predictions - includes both test set and ratings for 
missing_pred.head()

   uid     iid      r_ui       est                    details
0  302    2117  3.504236  3.786217  {'was_impossible': False}
1  302  122882  3.504236  3.942374  {'was_impossible': False}
2  302    4915  3.504236  3.647181  {'was_impossible': False}
3  302   67734  3.504236  3.764277  {'was_impossible': False}
4  302  104218  3.504236  3.700072  {'was_impossible': False}

In [129]:
#extract the training data for reference and further analysis
tr=[i for i in ratings_train.all_ratings()]

In [130]:
tr[0:5]

[(0, 0, 4.0), (0, 671, 3.0), (0, 1044, 3.0), (0, 116, 5.0), (0, 15, 3.0)]

In [131]:
#item inner-ids for the training set
it_id=[idk for ud,idk,r in ratings_train.all_ratings()]

In [132]:
it_id[0:10]

[0, 671, 1044, 116, 15, 466, 554, 659, 762, 896]

In [133]:
#total number of ratings in the training set
len(it_id)

70585

In [134]:
#total number of users in the training set
len(algo.pu)

610

In [135]:
tr_df=pd.DataFrame(tr, columns=['uiid','iid','rating'])

In [136]:
# the surprise package creates inner ids (a set of alternate ids) to track users and items; 
#data set item and user ids are referred to as raw ids; the functions below take inner-ids as inputs and return raw-ids 
#which can be used to map other attributes like movie names or movie genres for example. 
def get_uid(uid,trainset):
    """
    args: 
    uid: the inner id of the user
    returns:
    returns the raw id of the user
    """
    try:
        return trainset.to_raw_uid(uid)
    except ValueError: # user was not part of the trainset
        return "Error"

def get_iid(iid,trainset):
    """
    args:
    iid: the raw id of the item
    returns:
    the number of users that have rated the item.
    """
    try:
        return trainset.to_raw_iid(iid)
    except ValueError:
        return "Error"

In [137]:
uid_list=[get_uid(i,ratings_train) for i in tr_df.uiid] #list of raw user ids
iid_list=[get_iid(i,ratings_train) for i in tr_df.iid] #list of raw item ids

In [138]:
tr_df['raw_uid']=uid_list
tr_df['raw_iid']=iid_list

In [139]:
tr_df.head()

   uiid   iid  rating  raw_uid  raw_iid
0     0     0     4.0      302      457
1     0   671     3.0      302      293
2     0  1044     3.0      302      736
3     0   116     5.0      302     1221
4     0    15     3.0      302      628

In [140]:
def return_id(id_type): 
    #id_type: Str of "user" or "item"
    #the function returns internal ids of the ratings
    if id_type=='item':
        it_id=[idk for ud,idk,r in ratings_train.all_ratings()]
    elif id_type=='user':
        it_id=[ud for ud,idk,r in ratings_train.all_ratings()]
    else: 
        return print("must be 'user' or 'item'")
    unique_id=[]
    for i in it_id:
        if i not in unique_id:
            unique_id.append(i)
    return unique_id

In [141]:
#setup the item-factors as a dataframe
item_factors=pd.DataFrame(algo.qi)

In [142]:
unique_id=[] # returns the set of collapsed inner ids in the training set
for i in tr_df.iid:
    if i not in unique_id:
        unique_id.append(i)

In [146]:
unique_id=sorted(unique_id)

In [147]:
item_factors['item_id']=unique_id

In [189]:
unique_uid=[] # returns the set of collapsed inner ids in the training set
for i in tr_df.uiid:
    if i not in unique_uid:
        unique_uid.append(i)

In [190]:
unique_uid=sorted(unique_uid)

In [148]:
iid_list=[get_iid(i,ratings_train) for i in item_factors.item_id] #list of raw item ids

In [149]:
item_factors['raw_id']=iid_list #add raw ids to the item factors

In [150]:
item_factors.head()

          0         1         2         3         4  item_id  raw_id
0  0.026852  0.062579  0.001131  0.081941 -0.182108        0     457
1  0.172101  0.041359  0.178605  0.055362  0.124527        1    2117
2 -0.076289  0.020698  0.122167  0.166050 -0.061495        2  122882
3  0.009213 -0.159759 -0.035521  0.149263 -0.065800        3    4915
4  0.084405  0.178154 -0.060512 -0.073843  0.176620        4   67734

In [154]:
#merge the item factors with the movie genre attributes
item_factors_m=item_factors.merge(genres_m,left_on='raw_id',right_index=True)

In [155]:
item_factors_m=item_factors_m.set_index('raw_id')

In [194]:
zip(algo.bi[0:4],unique_id[0:4])

In [197]:
#merge item biases and user biases into dataframes
item_df=pd.DataFrame(zip(unique_id,algo.bi),columns=['id','item_bias'])

In [198]:
#merge item biases and user biases into dataframes
user_df=pd.DataFrame(zip(unique_uid,algo.bu),columns=['id','user_bias'])

In [199]:
tr_df.head()

   uiid   iid  rating  raw_uid  raw_iid
0     0     0     4.0      302      457
1     0   671     3.0      302      293
2     0  1044     3.0      302      736
3     0   116     5.0      302     1221
4     0    15     3.0      302      628

In [200]:
#merge into a single dataframe
tr_df=tr_df.merge(user_df,left_on='uiid',right_on='id')

In [201]:
#merge into a single dataframe
tr_df=tr_df.merge(item_df,left_on='iid',right_on='id')

In [203]:
tr_df.drop(columns=['id_x','id_y'],inplace=True)

In [204]:
tr_df['mean']=ratings_train.global_mean

In [205]:
tr_df['baseline']=tr_df['mean']+tr_df['user_bias']+tr_df['item_bias']

In [206]:
tr_df.head()

,uiid,iid,rating,raw_uid,raw_iid,user_bias,item_bias,mean,baseline
0,0,0,4.0,302,457,0.195252,0.552556,3.504236,4.252045
1,6,0,3.0,288,457,-0.410322,0.552556,3.504236,3.646470
2,7,0,5.0,474,457,-0.141356,0.552556,3.504236,3.915437
3,10,0,4.0,584,457,0.726690,0.552556,3.504236,4.783483
4,11,0,3.5,18,457,0.060436,0.552556,3.504236,4.117229

In [207]:
tr_df['pred']=tr_df['rating']-tr_df['baseline']

In [157]:
d=item_factors_m[[0,1,2,3,4]].head()

In [170]:
list(d.index)

[457, 2117, 122882, 4915, 67734]

In [172]:
sorted(zip(cosine_similarity(d)[1],list(d.index)),reverse=True)

[(0.9999999999999999, 2117),
 (0.36026393177761695, 67734),
 (0.16905006129873584, 122882),
 (-0.17079536206122453, 4915),
 (-0.17780523943058993, 457)]

In [180]:
sorted(cosine_similarity(d)[2],reverse=True)[0:4]

[1.0, 0.5002436240730327, 0.3864537325673639, 0.16905006129873584]

In [159]:
#define function to find the Neighborhood of user / item
#find the similarity of each user / item, and identify top k users / items
#return the neighborhood of users / items
def Neighbor_sim(a,k): # a is a matrix of user and items, and neighborhood of k
    items=np.arange(len(a))
    sim=cosine_similarity(a,a)
    ia=list(a.index)
    Nlist=[]
    Slist=[]
    k=k+1 #add one since the first includes the user himself
    for i in items:
        ib=list(sim[i])
        z=[ia for ib,ia in sorted(zip(ib,ia),reverse=True)]
        Slist.append(sorted(sim[i],reverse=True)[0:k])
        Nlist.append(z[0:k])
    Slist=pd.DataFrame(Slist)
    Slist['index']=ia
    Slist=Slist.set_index('index')
    Slist.drop([0],axis=1,inplace=True)
    Nlist=pd.DataFrame(Nlist)
    Nlist=Nlist.set_index(0)
    return (Nlist,Slist)

In [163]:
np.arange(len(d))

array([0, 1, 2, 3, 4])

In [227]:
a,b=Neighbor_sim(d,3)

In [228]:
b.index

Int64Index([457, 2117, 122882, 4915, 67734], dtype='int64', name='index')

In [224]:
tr_df.head()

,uiid,iid,rating,raw_uid,raw_iid,user_bias,item_bias,mean,baseline,pred
0,0,0,4.0,302,457,0.195252,0.552556,3.504236,4.252045,-0.252045
1,6,0,3.0,288,457,-0.410322,0.552556,3.504236,3.646470,-0.646470
2,7,0,5.0,474,457,-0.141356,0.552556,3.504236,3.915437,1.084563
3,10,0,4.0,584,457,0.726690,0.552556,3.504236,4.783483,-0.783483
4,11,0,3.5,18,457,0.060436,0.552556,3.504236,4.117229,-0.617229

In [232]:
tr_df[tr_df.raw_iid.isin(b.index)].raw_uid

0        302
1        288
2        474
3        584
4         18
        ...
22340    298
22341    249
22342    318
22343    356
22344    477
Name: raw_uid, Length: 188, dtype: int64

In [234]:
list(b.index)

[457, 2117, 122882, 4915, 67734]

In [269]:
#for user i, and given a set of movies, predict highest rated / recommended movies for user
def item_collab(usr,it,item_mat,factors,k):
#user is a list of users for whom we want to predict ratings 
#it is a list of items / movies
#user_mat is a dense matrix, as a dataframe, of users (as rows) and items (across columns)
#factors are the reduced form factors (gotten from Funk SVD) over which similarity is to be calculated 
#k is a parameter for the size of the neighborhood 
    usr=list(usr)
    it=list(it)
    itemid,sims=Neighbor_sim(factors,k) #calculate similarities and neighborhoods of all users
    predict=[]
    for i in it: # for each movie / item
        for e in usr: # for each user 
            item_mat_s=item_mat.filter(items=list(it),axis=1) #filter for movies of interest
            print(i)
            clist_i=itemid.loc[i,:] #return the most similar movies for user e
            item_mat_s_r=item_mat_s.loc[clist_i] #filter matrix, i.e. row filter
            item_mat_s_r=item_mat_s_r.squeeze()
            sims_s=sims.loc[i,:]
            rt=weight_k(sims_s,item_mat_s_r,k)
            predict.append([e,i,rt])
    predict=pd.DataFrame(predict,columns=['userid','item','item_pred'])
    return (predict)

In [ ]:
#for user i, and given a set of movies, predict highest rated / recommended movies for user
def user_collab(usr,it,usr_mat,k):
#user is a list of users for whom we want to predict ratings 
#it is a list of items / movies
#user_mat is a dense matrix, as a dataframe, of users (as rows) and items (across columns)
#k is a parameter for the size of the neighborhood 
    usr=list(usr)
    it=list(it)
    usrid,sims=Neighbor_sim(usr_mat,k) #calculate similarities and neighborhoods of all users
    predict=[]
    for e in usr: # for each user, need to exclude select user and focus on similar user
        #filt_list=[all_usr for all_usr in all_usr if all_usr!=e] #filter the list so that current user is excluded
        for i in it: #for each movie / item
            usr_mat_s=usr_mat.filter(items=list([i]),axis=1) #filter for movies of interest
            clist_u=usrid.loc[e,:] #return the most similar users for user e
            usr_mat_s_r=usr_mat_s.loc[clist_u] #filter matrix, i.e. row filter
            usr_mat_s_r=usr_mat_s_r.squeeze()
            sims_s=sims.loc[e,:]
            rt=weight_k(sims_s,usr_mat_s_r,k)
            predict.append([e,i,rt])
            #need to calculate the weights here
    predict=pd.DataFrame(predict,columns=['userid','item','user_pred'])
    return (predict)

In [243]:
a1,b1=Neighbor_sim(d,3)

In [246]:
a1.loc[457,:]

1    122882
2      4915
3      2117
Name: 457, dtype: int64

In [248]:
u=list(tr_df[tr_df.raw_iid.isin(b.index)].raw_uid)

In [265]:
list([u[0]])

[302]

In [266]:
b.filter(items=list([u[0]]),axis=0)

raw_iid    457     2117    4915    67734   122882
raw_uid
302     -0.252045     0.0     0.0     0.0     0.0

In [254]:
b

raw_iid    457     2117    4915    67734     122882
raw_uid
4        1.098144     0.0     0.0     0.0  0.000000
5       -0.036395     0.0     0.0     0.0  0.000000
11       0.691289     0.0     0.0     0.0  0.000000
18      -0.617229     0.0     0.0     0.0  0.000000
19       0.813886     0.0     0.0     0.0  0.000000
...           ...     ...     ...     ...       ...
602      1.088205     0.0     0.0     0.0  0.000000
607      0.689811     0.0     0.0     0.0  0.000000
608     -0.650580     0.0     0.0     0.0  0.000000
609      0.183837     0.0     0.0     0.0  0.000000
610      0.000000     0.0     0.0     0.0  1.125703

[168 rows x 5 columns]

In [261]:
list(327)

TypeError: 'int' object is not iterable

In [257]:
b.filter(items=list(u[0]),axis=1)

TypeError: 'int' object is not iterable

In [270]:
item_collab(list(tr_df[tr_df.raw_iid.isin(b.index)].raw_uid),list(d.index),b,d,3)

457

KeyError: "None of [Int64Index([122882, 4915, 2117], dtype='int64', name='raw_uid')] are in the [index]"

In [534]:
d

              1         2         3
index
0      0.432854 -0.124259 -0.146385
1      0.507721  0.432854 -0.271452
2      0.504228 -0.146385 -0.271452
3      0.507721  0.504228 -0.253836
4     -0.124259 -0.276552 -0.322858

In [545]:
c

   1  2  3
0
0  1  4  2
1  3  0  2
2  3  0  1
3  1  2  0
4  0  2  1

In [547]:
item_factors[['f1','f2','f3','f4','f5']].head()

         f1        f2        f3        f4        f5
0  0.029863  0.028608  0.264381 -0.101331 -0.163776
1  0.145392  0.058686  0.075189 -0.084340  0.038595
2 -0.005067  0.044583 -0.113216 -0.023861 -0.111895
3  0.117138  0.060223 -0.118211 -0.099636  0.006535
4 -0.116249  0.117228  0.053580  0.127025  0.063262

In [235]:
a=tr_df[['raw_uid','raw_iid','pred']][tr_df.raw_iid.isin(b.index)]

In [236]:
a

       raw_uid  raw_iid      pred
0          302      457 -0.252045
1          288      457 -0.646470
2          474      457  1.084563
3          584      457 -0.783483
4           18      457 -0.617229
...        ...      ...       ...
22340      298    67734  0.091198
22341      249    67734 -1.216071
22342      318    67734  0.325026
22343      356    67734 -0.350709
22344      477    67734  0.797900

[188 rows x 3 columns]

In [237]:
#reshape the data
b=a[['raw_uid','raw_iid','pred']].pivot(index='raw_uid', columns='raw_iid',values='pred')

In [238]:
b=b.replace(nan,0)
b.head()

raw_iid    457     2117    4915    67734   122882
raw_uid
4        1.098144     0.0     0.0     0.0     0.0
5       -0.036395     0.0     0.0     0.0     0.0
11       0.691289     0.0     0.0     0.0     0.0
18      -0.617229     0.0     0.0     0.0     0.0
19       0.813886     0.0     0.0     0.0     0.0

In [187]:
tr_df.head()

   uiid   iid  rating  raw_uid  raw_iid
0     0     0     4.0      302      457
1     0   671     3.0      302      293
2     0  1044     3.0      302      736
3     0   116     5.0      302     1221
4     0    15     3.0      302      628

In [580]:
b.columns

Int64Index([   14,    21,    47,    58,    95,   110,   141,   260,   293,
              377,   383,   457,   480,   589,   608,   628,   648,   707,
              736,   762,   786,  1019,  1127,  1198,  1215,  1221,  1251,
             1269,  1517,  2117,  2163,  2793,  2971,  3070,  3153,  3363,
             3524,  4042,  4942,  6899,  7063,  7379, 62383, 71302, 72998],
           dtype='int64', name='raw_iid')

In [576]:
item_factors.head()

         f1        f2        f3        f4        f5  item_id  raw_id
0  0.029863  0.028608  0.264381 -0.101331 -0.163776        0     457
1  0.145392  0.058686  0.075189 -0.084340  0.038595      671     293
2 -0.005067  0.044583 -0.113216 -0.023861 -0.111895     1044     736
3  0.117138  0.060223 -0.118211 -0.099636  0.006535      116    1221
4 -0.116249  0.117228  0.053580  0.127025  0.063262       15     628

In [579]:
missing_pred_df.head()

   uid    iid      r_ui       est                    details
0    1    318  3.501557  5.000000  {'was_impossible': False}
1    1   1704  3.501557  4.862736  {'was_impossible': False}
2    1   6874  3.501557  4.756050  {'was_impossible': False}
3    1   8798  3.501557  4.467686  {'was_impossible': False}
4    1  46970  3.501557  4.188977  {'was_impossible': False}

#### Calculate Training Error

In [424]:
tr_tuple=list(map(tuple,tr_df[['raw_uid','raw_iid','rating']].to_numpy()))

In [425]:
tr_tuple[0:3]

[(302.0, 457.0, 4.0), (302.0, 293.0, 3.0), (302.0, 736.0, 3.0)]

In [432]:
train_pred=algo.test(tr_tuple)
train_pred=pd.DataFrame(train_pred)

In [436]:
train_pred.head()

     uid     iid  r_ui       est                    details
0  302.0   457.0   4.0  4.290220  {'was_impossible': False}
1  302.0   293.0   3.0  4.271103  {'was_impossible': False}
2  302.0   736.0   3.0  3.665508  {'was_impossible': False}
3  302.0  1221.0   5.0  4.407071  {'was_impossible': False}
4  302.0   628.0   3.0  3.684504  {'was_impossible': False}

In [437]:
sk_rmse(train_pred[['r_ui']],train_pred[['est']])

0.7108660427181629

In [412]:
b=tr_df.head().copy()

In [413]:
b['n']=uid_list

In [414]:
b

   uiid   iid  rating    n
0     0     0     4.0  302
1     0   671     3.0  302
2     0  1044     3.0  302
3     0   116     5.0  302
4     0    15     3.0  302

In [381]:
ratings_test[0:3]

[(606, 40583, 3.5), (387, 4034, 3.0), (571, 3708, 2.0)]

In [294]:
#cross_validate(algo, ratings_train, cv=2)
b=pd.DataFrame(algo.qi)

In [297]:
b['index']=b.index

In [298]:
b.head()

          0         1         2         3         4  index
0  0.029863  0.028608  0.264381 -0.101331 -0.163776      0
1  0.145392  0.058686  0.075189 -0.084340  0.038595      1
2 -0.005067  0.044583 -0.113216 -0.023861 -0.111895      2
3  0.117138  0.060223 -0.118211 -0.099636  0.006535      3
4 -0.116249  0.117228  0.053580  0.127025  0.063262      4

In [337]:
b[['index']].iloc[0:2]

[array([0], dtype=int64), array([1], dtype=int64)]

In [386]:
ratings_train.to_raw_uid(0)

302

In [238]:
a=algo.test(exist_test)

In [304]:
item_bias=algo.bi

In [307]:
item_bias[0:4]

array([ 0.55372028,  0.12812088,  0.27531405, -0.0343369 ])

In [309]:
item_bias[57:60]

array([-0.33645482,  0.06259665,  0.46242821])

In [321]:
item_bias[2827:2832]

array([ 0.41205799, -0.05822226, -0.27388944,  0.01159828, -0.51060532])

In [314]:
algo_b = SVD(n_factors=5,n_epochs=10,verbose=True,biased=False,lr_all=0.005,reg_all=0.02)

In [315]:
algo_b.fit(ratings_train)

Processing epoch 0
Processing epoch 1
Processing epoch 2
Processing epoch 3
Processing epoch 4
Processing epoch 5
Processing epoch 6
Processing epoch 7
Processing epoch 8
Processing epoch 9

In [319]:
algo.bi

array([ 0.55372028,  0.12812088,  0.27531405, ..., -0.05704049,
        0.07588196, -0.10204534])

In [32]:
enc.fit(X)

OneHotEncoder(categories='auto', drop=None, dtype=<class 'numpy.float64'>,
              handle_unknown='ignore', sparse=False)

In [34]:
enc.categories_

[array(['Female', 'Male'], dtype=object), array([1, 2, 3], dtype=object)]

In [35]:
X

[['Male', 1], ['Female', 3], ['Female', 2]]

In [37]:
X=pd.DataFrame(X)

In [38]:
enc.fit(X)

OneHotEncoder(categories='auto', drop=None, dtype=<class 'numpy.float64'>,
              handle_unknown='ignore', sparse=False)

In [39]:
enc.categories_

[array(['Female', 'Male'], dtype=object), array([1, 2, 3], dtype=int64)]

In [58]:
lc.fit_transform(X)

ValueError: bad input shape (3, 2)

In [66]:
int_c=lc.fit_transform(X[[0]].to_numpy())

In [68]:
int_c=int_c.reshape(len(int_c), 1)

In [70]:
ohc= enc.fit_transform(int_c)

In [72]:
pd.DataFrame(ohc)

     0    1
0  0.0  1.0
1  1.0  0.0
2  1.0  0.0

In [91]:
data = ['cold', 'cold', 'warm', 'cold', 'hot', 'hot', 'warm', 'cold', 'warm', 'hot']
values = np.array(data)

In [92]:
values

array(['cold', 'cold', 'warm', 'cold', 'hot', 'hot', 'warm', 'cold',
       'warm', 'hot'], dtype='<U4')

In [93]:
i=lc.fit_transform(values)

array([0, 0, 2, 0, 1, 1, 2, 0, 2, 1], dtype=int64)

In [123]:
enc.fit(lc.fit_transform(values))

ValueError: Expected 2D array, got 1D array instead:
array=[0 0 2 0 1 1 2 0 2 1].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [107]:
enc.fit(b[['ind','value']])

TypeError: argument must be a string or number

In [109]:
lc.fit_transform(b['value'])

TypeError: argument must be a string or number

In [124]:
ia=lc.fit_transform(b['value'][~b['value'].isnull()])

In [125]:
ia = ia.reshape(len(ia), 1)
e_inc = enc.fit_transform(ia)

In [127]:
pd.DataFrame(e_inc)

      0    1    2    3    4    5    6
0   1.0  0.0  0.0  0.0  0.0  0.0  0.0
1   1.0  0.0  0.0  0.0  0.0  0.0  0.0
2   0.0  0.0  0.0  1.0  0.0  0.0  0.0
3   0.0  0.0  0.0  1.0  0.0  0.0  0.0
4   0.0  0.0  0.0  1.0  0.0  0.0  0.0
5   0.0  1.0  0.0  0.0  0.0  0.0  0.0
6   0.0  0.0  1.0  0.0  0.0  0.0  0.0
7   0.0  0.0  0.0  0.0  0.0  0.0  1.0
8   0.0  0.0  0.0  0.0  1.0  0.0  0.0
9   0.0  0.0  1.0  0.0  0.0  0.0  0.0
10  0.0  0.0  0.0  0.0  0.0  1.0  0.0
11  0.0  0.0  0.0  0.0  0.0  0.0  1.0
12  0.0  0.0  0.0  1.0  0.0  0.0  0.0
13  0.0  0.0  0.0  0.0  0.0  1.0  0.0

In [323]:
r_t,r_test=train_test_split(ratings,test_size=0.3,random_state=324)

In [325]:
r_test.head()

       userId  movieId  rating   timestamp
45660     302      457     4.0   854473186
56705     377     2117     5.0  1340342291
22212     148   122882     4.0  1482548529
59884     387     4915     2.0  1150877283
87601     564    67734     5.0  1481817716

In [385]:
r_t[['movieId','userId','rating']][(r_t['userId']==606)&(r_t['movieId']==40583)]

       movieId  userId  rating
98383    40583     606     3.5

In [354]:
r_t[['movieId','userId','rating']][r_t['movieId']==2117].mean()

movieId    2117.000000
userId      386.000000
rating        3.545455
dtype: float64

In [355]:
r_t[['rating']].mean()

rating    3.500361
dtype: float64

In [357]:
# Creation of the dataframe. Column names are irrelevant.
ratings_dict = {'itemID': [1, 1, 1, 2, 2],
                'userID': [9, 32, 2, 45, 95],
                'rating': [3, 2, 4, 3, 1]}
df = pd.DataFrame(ratings_dict)

# A reader is still needed but only the rating_scale param is requiered.


# The columns must correspond to user id, item id and ratings (in that order).
data = Dt.load_from_df(df[['userID', 'itemID', 'rating']], Reader(rating_scale=(1, 5)))

In [358]:
data_train=data.build_full_trainset()

In [359]:
data_alg = SVD(n_factors=2,n_epochs=3,verbose=True,biased=True,lr_all=0.005,reg_all=0.02)

In [362]:
data_alg.fit(data_train)

Processing epoch 0
Processing epoch 1
Processing epoch 2

In [ ]:
p=data_alg.